<section>
  <h3>音乐</h3>  
  <div>
    <object width="310" height="42" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="<object type="application/x-shockwave-flash" data="http://www.51119.com/Dewplayer/dewplayer-mini.swf" width="160" height="20" id="dewplayer" name="dewplayer">
	<param name="wmode" value="transparent" />
	<param name="movie" value="http://www.51119.com/Dewplayer/dewplayer-mini.swf" />
	<param name="flashvars" value="mp3= http://storage2.fcdn.kugou.com/M00/B2/B8/Otfxxk8AMvS6Iio2AD-x96uP9Sc050.mp3&amp;autoreplay=1" />
	</object> 
  </div> 
</section>