<section>
  <h3>音乐</h3>  
  <div>
    <object width="290" height="24" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
      <param name="quality" value="high"/>
      <param name="wmode" value="transparent"/>
      <param name="src" value="http://www.51119.com/soundplayer/mp3blestar5.swf?mp3file=http://storage20.fcdn.kugou.com/M00/1A/60/CgEAY1GYit7YeVrBADChJqgtDf4541.mp3&filetitle=如诗般—长梦&position1_cp=12303291&position2_cp=675856&position_ang=11&positionalpha=100&progress1_cp=5019904&progress2_cp=56686&progress_ang=0&progressalpha=96&player_back=39321&controller_back=5570602&fontcolor=15658734&scrollflag=false&player=boriginal&.swf"/>
      <param name="pluginspage" value="http://www.macromedia.com/go/getflashplayer"/>
      <embed width="250" height="24" type="application/x-shockwave-flash" src="http://www.51119.com/soundplayer/mp3blestar5.swf?mp3file=http://storage20.fcdn.kugou.com/M00/1A/60/CgEAY1GYit7YeVrBADChJqgtDf4541.mp3&filetitle=如诗般—长梦&position1_cp=12303291&position2_cp=675856&position_ang=11&positionalpha=100&progress1_cp=5019904&progress2_cp=56686&progress_ang=0&progressalpha=96&player_back=39321&controller_back=5570602&fontcolor=15658734&scrollflag=false&player=boriginal&.swf" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer"/> 
    </object>  
  </div> 
</section>