<section>
  <h3>音乐</h3>  
  <div>
    <object width="290" height="24" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
      <param name="quality" value="high"/>
      <param name="wmode" value="transparent"/>
      <param name="src" value="http://www.51119.com/play/swf/03.swf?soundFile=http://storage.live.com/items/4041679B31067696!154?filename=Bye%20Bye%20Bye.mp3&amp;bg=0xCDDFF3&amp;leftbg=0x357DCE&amp;lefticon=0xF2F2F2&amp;rightbg=0x357DCE&amp;rightbghover=0x4499EE&amp;righticon=0xF2F2F2&amp;righticonhover=0xFFFFFF&amp;text=0x357DCE&amp;slider=0x357DCE&amp;track=0xFFFFFF&amp;border=0xFFFFFF&amp;loader=0x8EC2F4&amp;autostart=no&amp;loop=no"/>
      <param name="pluginspage" value="http://www.macromedia.com/go/getflashplayer"/>
      <embed width="250" height="24" type="application/x-shockwave-flash" src="http://www.51119.com/play/swf/03.swf?soundFile=http://storage.live.com/items/4041679B31067696!154?filename=Bye%20Bye%20Bye.mp3&amp;bg=0xCDDFF3&amp;leftbg=0x357DCE&amp;lefticon=0xF2F2F2&amp;rightbg=0x357DCE&amp;rightbghover=0x4499EE&amp;righticon=0xF2F2F2&amp;righticonhover=0xFFFFFF&amp;text=0x357DCE&amp;slider=0x357DCE&amp;track=0xFFFFFF&amp;border=0xFFFFFF&amp;loader=0x8EC2F4&amp;autostart=no&amp;loop=no" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer"/> 
    </object>  

  </div> 
</section>